[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = k4krish@gmail.com
	name = k12ish
[core]
	editor = nvim
[diff "pdfdiff"]
	command = diffpdf
