[Desktop Entry]
Version=1.0
Name=Zellij
Type=Application
Comment=Manage Your Terminal Applications
Exec=loginctl lock-session
Icon=zellij
Categories=ConsoleOnly;System;
GenericName=Terminal Multiplexer
